footer
  .container.text-center
    p.pull-left © 2017 Eagles Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/JLBoor/eagles-hackathon') GitHub Project
