
<link rel="import" href="/paper-input/paper-input.html">
<link rel="import" href="/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/components/quote-input.html">

<dom-module id="catalog-list">

  <template>

    <style>
        h3 {
          color: black;
          margin-top: 25px;
          margin-left: 15px;
          font-weight: 400;
          font-size: 20px;
        }
        paper-item {
          color: #0051A5;
        }
    </style>

    <h3>Catalog</h3>

    <paper-listbox>
      <paper-item on-click="_handleQuickQuote">Quick Quote</paper-item>
      <paper-item on-click="_handleNewsClick">News Feed</paper-item>
      <paper-item on-click="_handle52Week">52-Week</paper-item>
    </paper-listbox>

  </template>
</dom-module>

  <script>
    Polymer({
      is: 'catalog-list',
      ready: function() {
        this.symbol = 'RY';
        var that = this;
        addEventListener('symbol-changed', function(e) {
            if(that.newsList) { that.newsList.symbol = e.detail.symbol; }
            if(that.fiftyTwo) { that.fiftyTwo.symbol = e.detail.symbol; }
        });
      },

      _handleQuickQuote: function() {
        if(!this.quote) {
          this.quote = document.createElement("quote-input");
          this.quote.symbol = this.symbol;

          var divWrapper = document.createElement("div");
          divWrapper.appendChild(this.quote);

          document.querySelector('#customLayout1').appendChild(divWrapper);

        }
      },
      _handleNewsClick: function() {
        if(!this.newsList) {
          this.newsList = document.createElement("news-list");
          this.newsList.symbol = this.symbol;

          var divWrapper = document.createElement("div");
          divWrapper.appendChild(this.newsList);

          document.querySelector('#customLayout1').appendChild(divWrapper);
        }
      },

      _handle52Week: function() {
        if(!this.fiftyTwo) {
          this.fiftyTwo = document.createElement("fifty-two-week");
          this.fiftyTwo.symbol = this.symbol;

          var divWrapper = document.createElement("div");
          divWrapper.appendChild(this.fiftyTwo);

          document.querySelector('#customLayout1').appendChild(divWrapper);
        }
      }

  });
  </script>
