
<dom-module id="client-greetings">

  <template>

    <style>
      :root {
        display: inline-block;
        margin-top: 8px;
      }
      span {
        color: #FEDF01;
        font-size: 18px;
        font-weight: 100;
      }
    </style>

    <span>
      <i class="fa fa-user"></i>
      Hi {{client}}
    </span>

  </template>

</dom-module>

  <script>
    Polymer({
      is: 'client-greetings',

      ready: function() {
          var that = this;
          addEventListener('client-selected', function(e) {
              that.client = e.detail.client;
          });
      }

    });
  </script>
