<link rel="import" href="/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/iron-ajax/iron-ajax.html">
<link rel="import" href="/paper-button/paper-button.html">
<link rel="import" href="/paper-button/paper-button.html">
<link rel="import" href="/paper-input/paper-input.html">
<link rel="import" href="/paper-tabs/paper-tabs.html">
<link rel="import" href="/app-datepicker/app-datepicker-dialog.html">

<link rel="import" href="./transaction-list.html">
<link rel="import" href="./transaction-stats.html">
<link rel="import" href="./transaction-positions.html">
<link rel="import" href="/components/news-list.html">
<link rel="import" href="/components/quote-chart.html">
<link rel="import" href="/components/fifty-two-week.html">
<link rel="import" href="/components/categories-pie-chart.html">
<link rel="import" href="./transaction-clients.html">
<link rel="import" href="./active-stock.html">
<link rel="import" href="./transaction-performers.html">
<link rel="import" href="./card-header.html">

<dom-module id="dashboard-layout">

  <template>

    <style>

      :root { --paper-tab-ink: #002144; padding: 0 25px; }

      paper-tabs {
        background: #DFE6ED;
        --paper-tabs-selection-bar-color: #002144;
        --paper-tabs-selection-bar {
          height: 5px;
          color: red;
        }
      }

      .sortable-drag{
        background: #DFE6ED;
        border: #ccc dashed 3px;
        padding: 10px;
        border-radius: 5px;
      }

    </style>

    <paper-tabs id="tabs" class="row" selected="2" on-iron-select="_onTabChanged">
      <paper-tab>Today</paper-tab>
      <paper-tab>Last Week</paper-tab>
      <paper-tab>Last Month</paper-tab>
      <paper-tab>Last Year</paper-tab>
    </paper-tabs>

      <div class="row">
        <section id="sortableList" class="col-lg-8">
          <div class="row dashboard-row">
            <div class="col-sm-6">
              <transaction-positions ticker="{{symbol}}" client="{{client}}" title="Gainers"></transaction-positions>
            </div>
            <div class="col-sm-6">
             <categories-pie-chart title="Top 5 performing by sector (revenue)" label="Sector" api="/api/categories/securityTypeByAmt" client="{{client}}"></categories-pie-chart>
            </div>
          </div>

          <div class="row dashboard-row">
            <div class="col-sm-6">
              <transaction-positions ticker="{{symbol}}" client="{{client}}" least="true" title="Losers"></transaction-positions>
            </div>
            <div class="col-sm-6">
             <categories-pie-chart title="Top 5 losing sectors (revenue)" label="Sector" api="/api/categories/securityType" client="{{client}}"></categories-pie-chart>
            </div>
          </div>

          <div class="row dashboard-row">
              <div class="col-sm-12"><news-list symbol="{{symbol}}"></news-list></div>
            </div>
        </section>

        <section id="sortableList2" class="col-lg-4">
          <div class="row dashboard-row">
            <transaction-perfromers client="{{client}}"></transaction-perfromers>
          </div>
          <div class="row dashboard-row">
            <div class="card">
              <card-header title$="Quote: {{symbol}}"></card-header>
              <h5 class=text-center>52-week</h5>
              <fifty-two-week symbol="{{symbol}}"></fifty-two-week>
              <h5 class=text-center style="padding-top: 25px; padding-bottom: 0;">Last month</h5>
              <quote-chart symbol="{{symbol}}" from-date="{{fromDate}}" to-date="{{toDate}}" ></quote-chart>
            </div>
          </div>

          <div class="row dashboard-row">
              <div class="card">
                <active-stock client="{{client}}"></active-stock>
              </div>
            </div>

        </section>
        </div>
  </template>

</dom-module>

  <script>
    var sortOptions = (groupName) => {
                      return { group: groupName, 
                              animation: 150, 
                              handle:".fa-arrows", 
                              ghostClass: "sortable-drag", 
                              chosenClass: "sortable-drag",
                              }}; 
    Polymer({
      is: 'dashboard-layout',

      ready: function() {
          this.fromDate = moment().subtract(1, 'month').format('YYYY-MM-DD');
          this.toDate = moment().format('YYYY-MM-DD');
          var that =this;
          addEventListener('client-selected', function(e) {
              that.client = e.detail.client;
          });
          
          Sortable.create(sortableList, sortOptions("sList"));
          Sortable.create(sortableList2, sortOptions("sList"));
      },

      _onTabChanged: function() {
        // Temporarly disabled rabs
        return;

        switch(this.$.tabs.selected) {
          case 0:
            this.fromDate = moment().format('YYYY-MM-DD');
            this.toDate = moment().format('YYYY-MM-DD');
            break;
          case 1:
            this.fromDate = moment().subtract(1, 'week').format('YYYY-MM-DD');
            this.toDate = moment().format('YYYY-MM-DD');
            break;
          case 2:
            this.fromDate = moment().subtract(1, 'month').format('YYYY-MM-DD');
            this.toDate = moment().format('YYYY-MM-DD');
            break;
          case 3:
            this.fromDate = moment().subtract(1, 'year').format('YYYY-MM-DD');
            this.toDate = moment().format('YYYY-MM-DD');
            break;
        }
      },

      handleFromClick: function() {
        this.$.fromDatepicker.open();
      },

      handleToClick: function() {
        this.$.toDatepicker.open();
      },

      handleChange: function(event) {
        this.symbol = this.$.symbol.value;
      }

    });
  </script>
