<link rel="import" href="/iron-ajax/iron-ajax.html">
<link rel="import" href="/google-chart/google-chart.html">

<dom-module id="fifty-two-week">

  <template>

  <style>
    .col-sm-6 { font-size: 25px; }
    .high { color: #008500; }
    .low { color: #c71d06; }
  </style>

    <iron-ajax
        auto
        url="/api/52w"
        params='{{params}}'
        handle-as="json"
        debounce="500"
        on-response="handleResponse"></iron-ajax>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 text-center high">
            <div class="fa fa-arrow-up"></div>
            {{quote.52WeekHigh}}
          </div>
          <div class="col-sm-6 text-center low">
            <div class="fa fa-arrow-down"></div>
            {{quote.52WeekLow}}
          </div>
        </div>
      </div>

  </template>
</dom-module>

  <script>
    Polymer({
      is: 'fifty-two-week',
      properties: {
        symbol : {
          type: String,
          observer: '_symbolChanged'
        }
      },

      _symbolChanged: function() {
        this.params = { "symbol": this.symbol }
      },

      handleResponse: function(response) {
        this.quote = response.detail.response;
      }
    });
  </script>
