<link rel="import" href="/iron-ajax/iron-ajax.html">
<link rel="import" href="/paper-button/paper-button.html">
<link rel="import" href="./card-title.html">

<dom-module id="news-list">

  <template>

    <iron-ajax
        auto
        url="/api/news"
        params='{{params}}'
        handle-as="json"
        on-response="handleResponse"></iron-ajax>

        <div class="card">
          <card-title title$="News: {{symbol}}"></card-title>
          <div class="card-content">
            <template is="dom-repeat" items="{{news}}" as="news-item">
              <h5><a href={{news-item.link}} target="_blank">{{news-item.title}} - {{news-item.symbol}}</a></h5>
              <p><small>{{news-item.description}}</small></p>
            </template>
          </div>
          <div class="card-actions"></div>
        </div>

  </template>
</dom-module>

  <script>
    Polymer({
      is: 'news-list',
      properties: {
        symbol : {
          type: String,
          observer: '_symbolChanged'
        }
      },

      _symbolChanged: function() {
        this.params = { "symbol": this.symbol }
      },

      handleResponse: function(response) {
        this.news = response.detail.response;
      }
    });
  </script>
