<link rel="import" href="/iron-ajax/iron-ajax.html">
<link rel="import" href="/paper-button/paper-button.html">
<link rel="import" href="/cpol-currency/cpol-currency.html">


<dom-module id="transaction-positions">

  <template>

    <style>

      .text-gain{
        font-weight: bold;
        color: green;
      }

      .text-loss{
        font-weight: bold;
        color: red;
      }

      paper-item {
        font-size: 12px;
      }

    </style>

    <iron-ajax
        auto
        url="/api/transactions/positions"
        params='{{params}}'
        handle-as="json"
        on-response="handleResponse"></iron-ajax>

        <div>
          <h2>{{client}}: Positions</h2>
          <div class="card-content container-fluid">

              <div class="row">
                <div class="col-sm-1">#</div>
                <div class="col-sm-2">Symbol</div>
                <div class="col-sm-3">Sector</div>
                <div class="col-sm-2">Postion</div>
                <div class="col-sm-4">Total $</div>
              </div>

                <paper-listbox selected="{{ticker}}" attr-for-selected="ticker">
                  <template is="dom-repeat" items="{{positions}}" as="p">

                    <paper-item ticker="[[p.ticker]]">
                      <div class="row">
                        <div class="col-sm-1">[[addOne(index)]].</div>
                        <div class="col-sm-2">[[p.ticker]]</div>
                        <div class="col-sm-3">[[p.sector]]</div>
                        <div class="col-sm-2"><p class="text-right">[[p.num_shares]]</p></div>
                        <div class="col-sm-4">
                          <p class="text-right" class$="{{getClasses(p.pos_amt)}}">
                           <cpol-currency amount=[[p.pos_amt]]></cpol-currency>
                         </p>
                         </div>
                      </div>
                  </paper-item>
                </template>
              </paper-listbox>
          </div>
          <div class="card-actions"></div>
        </div>

  </template>
</dom-module>

  <script>

    Polymer({
      is: 'transaction-positions',
      properties: {
        positions : {
          type: Array
        },
        client: {
          type: String,
          observer: '_clientChanged'
        },
        ticker : {
          type: String,
          notify: true
        },
      },

      a: function() {
        console.log('aa');
      },

      ready: function() {
        this.selected = 0;
        this.params = {client: 'Billy Speno'};
      },

      _clientChanged: function() {
        this.params = { "client": this.client }
      },

      handleResponse: function(response) {
        this.positions = response.detail.response.stocks;
        this.client = response.detail.response._id;
      },
      addOne: function(idx) {
        return idx+1;
      },
      getClasses: function (amt) {
        var classes = 'text-loss';
        if(amt > 0) classes = 'text-gain';
        return classes;
      }
    });
  </script>
