<link rel="import" href="/iron-ajax/iron-ajax.html">
<link rel="import" href="/paper-button/paper-button.html">
<link rel="import" href="./card-header.html">

<dom-module id="transaction-stats">

  <template>

    <iron-ajax
        auto
        url="/api/transactions/stats"
        params='{{params}}'
        handle-as="json"
        on-response="handleResponse"></iron-ajax>

        <div>
          <card-header title="Transactions Stats"></card-header>
          <div class="card-content">
            <ul>
              Count: {{count}}
            </ul>
          </div>
          <div class="card-actions"></div>
        </div>

  </template>
</dom-module>

  <script>
 
    Polymer({
      is: 'transaction-stats',
      properties: {
        count : {
          type: Number
        }
      },
      ready: function() {
        this.params = {'date': '2016-11-21'};//{'date': "20161021"}
      },
      handleResponse: function(response) {
       this.count = response.detail.response.count;
      },
    });
  </script>
