<link rel="import" href="/iron-ajax/iron-ajax.html">
<link rel="import" href="/paper-button/paper-button.html">
<link rel="import" href="/paper-item/paper-item.html">
<link rel="import" href="/paper-listbox/paper-listbox.html">
<link rel="import" href="/paper-dropdown-menu/paper-dropdown-menu.html">

<dom-module id="transaction-clients">
  <template>

<style>
  :root { padding-top: 15px; }
  paper-dropdown-menu {
    --paper-dropdown-menu-input {
      --paper-input-container-input-color: white;
      --paper-input-container-color: white;
      --paper-input-container-focus-color: #FEDF01;
    }
  }

  paper-listbox {
    padding: 0;
    max-height: 150px;
    overflow: scroll;
  }

  paper-item {
    color: #0051A5;
  }

</style>


    <iron-ajax
        auto
        url="/api/transactions/clients"
        handle-as="json"
        on-response="_handleResponse"
        last-response="{{clients}}"></iron-ajax>

        <template is="dom-if" if="{{clients}}">

            <paper-listbox class="dropdown-content" selected="{{selected}}">
              <template is="dom-repeat" items="[[clients]]">
                <paper-item>[[item]]</paper-item>
              </template>
            </paper-listbox>
        </template>

  </template>
</dom-module>

  <script>
    Polymer({
      is: 'transaction-clients',
      properties: {
        selected: {
          type: String,
          observer: 'clientChanged'
        }
      },

      clientChanged: function(event) {
        this.client = this.clients[this.selected];
        this.fire('client-selected', {client: this.client})
      },

      _handleResponse: function() {
        this.selected = 0;
        this.clientChanged();
      }
    });
  </script>
