extends layout

block content
  h1 Eagles Start
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    .col-sm-8
      h2 Transactions
      transaction-list


    .col-sm-4
      h2 News
      p TODO: list financial news
