doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Hackathon Starter

    link(href='https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i', rel='stylesheet')

    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/main.css')

    script(src='/moment/min/moment.min.js')
    script(src='/Sortable/Sortable.min.js')

    link(rel='import', href='/paper-drawer-panel/paper-drawer-panel.html')
    link(rel='import', href='/paper-icon-button/paper-icon-button.html')
    link(rel='import', href='/iron-icons/iron-icons.html')

    link(rel='import', href='/components/catalog-list.html')
    link(rel='import', href='/components/transaction-clients.html')
    link(rel='import', href='/components/dashboard-layout.html')
    link(rel='import', href='/components/quick-quote-layout.html')
    link(rel='import', href='/components/custom-layout.html')

  body
    eagles-styles
      paper-drawer-panel(right-drawer,force-narrow)
        div(drawer)
          catalog-list

        div(main, style="overflow: scroll;")

          include partials/header

          .container-fluid
            include partials/flash
            block content

          include partials/footer

    script(src='/webcomponentsjs/webcomponents.min.js')
    script(src='/js/lib/jquery-2.2.4.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/moment/min/moment.min.js')
    script(src='/js/main.js')
