@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------
h1, h2, h3, h4, h5 {
  color: $bright-blue-3;
  font-family: 'Fira Sans';
  font-weight: 100;
  & > a { color: $bright-blue-3; }
}

a { color: $dark-blue; }

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 75px;
  background: #EDF1F5;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

@media (max-width: 767px) {
  .eagles-hidden-small { display: none; }
  client-greetings { display: none; }
  .card-extra-top-margin { margin-top: 15px !important; }
  .navbar > .container-fluid .navbar-brand { opacity: 1; }
  .navbar-default .navbar-toggle { background-color: white; border-color: $dark-blue; }
  .navbar-default .navbar-toggle .icon-bar { background-color: $dark-blue; }
  .navbar.navbar-default { z-index: 999; }
  .navbar-collapse { background: white; margin-top: 49px; border-bottom: 1px solid $dark-blue; box-shadow: 0 0px 10px;}
  .navbar.navbar-default .navbar-nav-main > li.active > a,
  .navbar.navbar-default .navbar-nav-main > li > a {
    padding-top: 45px;
    font-size: 16px;
    margin-right: 25px;
    color: $dark-blue;
    border-bottom: 0;
    &:hover {
      color: $dark-blue;
      font-weight: bold;
      border-bottom: 0;
    }
  }
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

// News List
// -------------------------

.news-list p {
  color: $silver;
  margin-bottom: 40px;
}

// Drawer
// -------------------------

#scrim {
  background: rgba(0, 81, 165, 0.25) !important;
}

// Card
// -------------------------

.dashboard-row { margin-top: 15px; }

.card-wrapper {
  margin: 10px 0;
  animation: reveal .5s;
}

@keyframes reveal {
  0% {
    opacity: 0;
    background: red;
    transform: scale(1.5);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

.card {
  $card-color: $bright-blue-3;
  h2 {
    color: $card-color;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  margin-top: 15px;
  background: white;
  margin: 0px;
  border: 1px solid $card-color;
  border-radius: 5px;
  border-top-width: 4px;
  padding: 10px;
}

card-header .fa-arrows { transition: 1s; opacity: 0; }
.card:hover card-header .fa-arrows {  opacity: 1; }

.sortable-chosen { opacity: .50; }
.sortable-ghost { filter: grayscale(100%); -webkit-filter: grayscale(100%); }
